<h1>Edit Comment</h1>

<%= simple_form_for([@post, @comment]) do |f| %>
  <%= f.input :body, label: "Comment" %>
  <%= f.button :submit %>
<% end %>


<!-- Since we define find_post and find_comment we will just accessing that in here  -->
